.contenedor {
  background-color: skyblue;
  border: solid 5px gray;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  place-content: center;
}

.item {
  border: solid 5px gray;
  font-size: 3rem;
}

.item-1 {
  background-color: antiquewhite;
}
.item-2 {
  background-color: beige;
  grid-column: 2 /4;
}
.item-3 {
  background-color: beige;
  grid-column: 1 / 3;
}
.item-4 {
  background-color: antiquewhite;
}
.item-5 {
  background-color: beige;
}
.item-6 {
  background-color: antiquewhite;
}
.item-7 {
  background-color: beige;
}
